@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@200;300;400;500&family=IBM+Plex+Serif:wght@400;500&family=Inter:wght@100;200;300;400;500;600;700&display=swap");

code[class*="language-"],
pre[class*="language-"] {
  font-family: "IBM Plex Serif", SFMono-Regular, Consolas, Liberation Mono,
    Menlo, monospace;
  font-size: 1rem;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  line-height: 1.25rem;
  tab-size: 4;
  hyphens: none;
  transition: background 0.15s ease-in-out, color 0.15s ease-in-out;
  border-left: 1px solid $textBright;
  font-weight: 400;
  letter-spacing: 0;

  * {
    transition: color 0.15s ease-in-out;
  }
}

pre[class*="language-"] {
  padding: 0 2.5rem;
  margin-bottom: 1.25rem;
  //overflow: hidden;
  font-size: 0.875rem;
  color: $textBright;
  opacity: 1;
  font-weight: 400;
  margin-top: 1.25rem;
  @include respond-below(sm) {
    font-size: 0.75rem;
    //padding-left: 20px;
    padding: 0 1.25rem;
  }
  letter-spacing: 0;
}

:not(pre) > code[class*="language-"] {
  color: $textBright;
  opacity: 1;
  border-left: none;
  font-size: 1.125rem;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: $textBright;
  opacity: 0.4;
}

.namespace {
  opacity: 0.7;
}

.token.important,
.token.bold {
  font-weight: bold;
}

.token.italic {
  font-style: italic;
}

.token.entity {
  cursor: help;
}

.bright {
  code[class*="language-"],
  pre[class*="language-"] {
    color: $textBright;
  }

  :not(pre) > code[class*="language-"],
  pre[class*="language-"] {
    background: $sidebarBright;
  }

  .token.punctuation {
    color: rgba(43, 44, 48, 0.5);
  }

  .token.property,
  .token.tag,
  .token.boolean,
  .token.number,
  .token.constant,
  .token.symbol,
  .token.deleted {
    color: rgba(43, 44, 48, 0.5);
  }

  .token.selector,
  .token.attr-name,
  .token.string,
  .token.char,
  .token.builtin,
  .token.inserted {
    color: rgba(43, 44, 48, 0.5);
  }

  .token.operator,
  .token.entity,
  .token.url,
  .language-css .token.string,
  .style .token.string {
    color: rgba(43, 44, 48, 0.5);
  }

  .token.atrule,
  .token.attr-value,
  .token.keyword {
    color: rgba(43, 44, 48, 0.5);
  }

  .token.function,
  .token.class-name {
    color: rgba(43, 44, 48, 0.5);
  }

  .token.regex,
  .token.important,
  .token.variable {
    color: rgba(43, 44, 48, 0.5);
  }
}

.dark {
  code[class*="language-"],
  pre[class*="language-"] {
    color: $textDark;
  }

  :not(pre) > code[class*="language-"],
  pre[class*="language-"] {
    background: $sidebarDark;
  }

  .token.punctuation {
    color: rgba(43, 44, 48, 0.5);
  }

  .token.property,
  .token.tag,
  .token.constant,
  .token.symbol,
  .token.deleted,
  .language-scss .token.variable {
    color: rgba(43, 44, 48, 0.5);
  }

  .token.boolean,
  .token.number {
    color: rgba(43, 44, 48, 0.5);
  }

  .token.selector,
  .token.attr-name,
  .token.string,
  .token.char,
  .token.builtin,
  .token.inserted {
    color: rgba(43, 44, 48, 0.5);
  }

  .token.operator,
  .token.entity,
  .token.url,
  .language-css .token.string,
  .style .token.string,
  .token.variable {
    color: rgba(43, 44, 48, 0.5);
  }

  .token.atrule,
  .token.attr-value,
  .token.function,
  .token.class-name {
    color: rgba(43, 44, 48, 0.5);
  }

  .token.keyword {
    color: rgba(43, 44, 48, 0.5);
  }

  .token.regex,
  .token.important {
    color: rgba(43, 44, 48, 0.5);
  }
}
