@import url("https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400;0,700;1,400;1,700&family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;1,100;1,200;1,300;1,400;1,500&display=swap");

code[class*="language-"],
pre[class*="language-"] {
  font-family: "IBM Plex Sans", SFMono-Regular, Consolas, Liberation Mono, Menlo,
    monospace;
  font-size: 14px;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  line-height: 1.5;
  tab-size: 4;
  hyphens: none;
  transition: background 0.15s ease-in-out, color 0.15s ease-in-out;
  border-left: 1px solid $textBright;
  font-weight: 400;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE 10+ */
  width: 0px;
  background: transparent; /* Chrome/Safari/Webkit */

  * {
    transition: color 0.15s ease-in-out;
  }
}

pre[class*="language-"] {
  padding: 0px 20px;
  margin: 0 0 4em 0;
  overflow: auto;
  font-size: 14px;
  color: $textBright;
  opacity: 1;
  font-weight: 400;
}

:not(pre) > code[class*="language-"] {
  // padding: .1em .3em;
  // border-radius: 4px;
  // white-space: normal;
  color: $textBright;
  opacity: 1;
  border-left: none;
  font-size: 1.125rem;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: $textBright;
  opacity: 0.4;
}

.namespace {
  opacity: 0.7;
}

.token.important,
.token.bold {
  font-weight: bold;
}

.token.italic {
  font-style: italic;
}

.token.entity {
  cursor: help;
}

.bright {
  code[class*="language-"],
  pre[class*="language-"] {
    color: $textBright;
  }

  :not(pre) > code[class*="language-"],
  pre[class*="language-"] {
    background: $sidebarBright;
  }

  .token.punctuation {
    color: #31d194;
  }

  .token.property,
  .token.tag,
  .token.boolean,
  .token.number,
  .token.constant,
  .token.symbol,
  .token.deleted {
    color: #d943b1;
  }

  .token.selector,
  .token.attr-name,
  .token.string,
  .token.char,
  .token.builtin,
  .token.inserted {
    color: #f25050;
  }

  .token.operator,
  .token.entity,
  .token.url,
  .language-css .token.string,
  .style .token.string {
    color: #18dab0;
  }

  .token.atrule,
  .token.attr-value,
  .token.keyword {
    color: #023373;
  }

  .token.function,
  .token.class-name {
    color: #f25ce8;
  }

  .token.regex,
  .token.important,
  .token.variable {
    color: #d943b1;
  }
}

.dark {
  code[class*="language-"],
  pre[class*="language-"] {
    color: $textDark;
  }

  :not(pre) > code[class*="language-"],
  pre[class*="language-"] {
    background: $sidebarDark;
  }

  .token.punctuation {
    color: #31d194;
  }

  .token.property,
  .token.tag,
  .token.constant,
  .token.symbol,
  .token.deleted,
  .language-scss .token.variable {
    color: #31d194;
  }

  .token.boolean,
  .token.number {
    color: #f25ce8;
  }

  .token.selector,
  .token.attr-name,
  .token.string,
  .token.char,
  .token.builtin,
  .token.inserted {
    color: #b8f73a;
  }

  .token.operator,
  .token.entity,
  .token.url,
  .language-css .token.string,
  .style .token.string,
  .token.variable {
    color: #f25ce8;
  }

  .token.atrule,
  .token.attr-value,
  .token.function,
  .token.class-name {
    color: #b8f73a;
  }

  .token.keyword {
    color: #66d9ef;
  }

  .token.regex,
  .token.important {
    color: #d943b1;
  }
}
