@import "config/colors";
@import "config/maps";
@import "config/mixins";
@import "config/functions";
@import "prism";

html {
  scroll-behavior: smooth;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial,
    sans-serif, Apple Color Emoji, Segoe UI Emoji;
  margin: 0;
  padding: 0;
  font-weight: 200;
  line-height: 1.4;
  font-size: 1.125rem;
  transition: background 0.15s ease-in-out, color 0.15s ease-in-out;

  &::before {
    display: none;
    visibility: hidden;
    content: "small";

    @include respond-above(sm) {
      content: "large";
    }
  }
  @include respond-below(sm) {
    font-size: 1rem;
    font-weight: 400;
  }

  &.bright {
    background: $backgroundBright;
    color: $textBright;
  }

  &.dark {
    background: $backgroundDark;
    color: $textDark;
  }
}

* {
  box-sizing: border-box;
}

.main {
  a {
    background: linear-gradient(260deg, #1aff24, #20e95c);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-box-decoration-break: clone;
    font-weight: 600;
  }
  //  @include respond-below(xxs) {
  //    min-width: 375px;
  //  }
}

h1,
h2,
h3,
h4 {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial,
    sans-serif, Apple Color Emoji, Segoe UI Emoji;
  font-weight: 300;
  line-height: 1.8;
  opacity: 0.2;
}

h1 {
  margin-top: -10px;
  font-weight: 600;
  font-size: 1.8rem;
  line-height: 1.4;

  @include respond-above(sm) {
    font-size: 1.8rem;
  }
  @include respond-below(sm) {
    font-size: 1.375rem;
  }
}

h2 {
  opacity: 1;
  font-size: 1.8rem;
  margin-block-end: -0.4em;
  line-height: 1.4;
  @include respond-below(sm) {
    font-size: 1.375rem;
    padding-bottom: 4px;
  }
  @include respond-above(sm) {
    padding-bottom: 6px;
  }
}

.container {
  max-width: 76pc;
  max-width: 76rem;
  margin-left: auto;
  margin-right: auto;
}
.p2 {
  //padding: 1pc;
  padding: 30px;
}
.border-box {
  box-sizing: border-box;
}
.md-col-12 {
  width: 100%;
}
.inline-block {
  display: inline-block;
}
.align-middle {
  vertical-align: middle;
}
.h0,
.h-lg {
  font-size: 44px;
  font-size: 2.75rem;
  letter-spacing: -1px;
  letter-spacing: -0.08rem;
}
@include respond-above(sm) {
  .h0 {
    font-size: 3.25rem;
  }
  .h-lg {
    font-size: 5rem;
  }
  .h1 {
    font-size: 2.5rem;
  }
}
@include respond-above(md) {
  .h0 {
    font-size: 4rem;
  }
  .h-lg {
    font-size: 6.25rem;
  }
}
.relative {
  position: relative;
}
.clearfix:after,
.clearfix:before {
  content: " ";
  display: table;
}
.clearfix:after {
  clear: both;
}
@include respond-above(sm) {
  .md-col {
    float: left;
    box-sizing: border-box;
  }
  .md-col-3 {
    width: 25%;
  }
  .md-col-4 {
    width: 33.33333%;
  }
  .md-border-right {
    border-right-style: solid;
    border-right-width: 1px;
    border-right-color: rgba(43, 44, 48, 0.125);
  }
  .md-center {
    text-align: center;
  }
  .md-right-align {
    text-align: right;
  }
}
@include respond-below(sm) {
  .h0 {
    font-size: 1.875rem;
  }
}

.ml0 {
  margin-left: 0;
}
.mt2 {
  margin-top: 1pc;
  margin-top: 1rem;
}
.mb2 {
  margin-bottom: 1pc;
  margin-bottom: 1rem;
}
.mt0 {
  margin-top: 0;
}
.mb0 {
  margin-bottom: 0;
}
.h2 {
  font-size: 26px;
  font-size: 1.625rem;
}
.mr0 {
  margin-right: 0;
}
.italic {
  font-style: italic;
}
.muted {
  opacity: 0.5;
}
.a1 {
  @include respond-below(md) {
    font-size: 1.125rem;
  }
  @include respond-above(md) {
    font-size: 1.25rem;
  }
}
.p1 {
  @include respond-below(md) {
    font-size: 0.875rem;
    line-height: 1.375rem;
  }
  @include respond-above(md) {
    font-size: 1rem;
    line-height: 2rem;
  }
}
.f-top {
  border-top: 1px solid $textBright;
}
.ft {
  @include respond-below(sm) {
    font-size: 1rem;
    line-height: 1.5rem;
  }
  @include respond-above(sm) {
    font-size: 1rem;
    line-height: 2rem;
  }
}
.fp {
  @include respond-below(sm) {
    padding-top: 5px;
  }
}
