// Dark theme
$backgroundDark: #2b2c30;
$sidebarDark: #2b2c30;
$textDark: #fff;

// Bright theme
$backgroundBright: #fff;
$sidebarBright: #fff;
$textBright: #2b2c30;

// Brand
// $brandPrimary: #ecff2a;
// $brandPrimary: #adff20;
$brandPrimary: #20e95c;

// Gradient
$gradientOne: #1aff24;
$gradientTwo: #20e95c;
$gradientThree: #10d319;
$gradientFour: #28d35c;
