// Dark theme
$backgroundDark: #18191a;
$sidebarDark: #2a2c2f;
$textDark: #fff;

// Bright theme
$backgroundBright: #f6f6f6;
$sidebarBright: #f6f6f6;
$textBright: #1b1b1b;

// Brand
// $brandPrimary: #ecff2a;
$brandPrimary: #adff20;
