// Dark theme
$backgroundDark: #18191a;
$sidebarDark: #2a2c2f;
$textDark: #fff;

// Bright theme
$backgroundBright: #f5f5f7;
$sidebarBright: #f5f5f7;
$textBright: #2B2C30;

// Brand
// $brandPrimary: #ecff2a;
$brandPrimary: #adff20;
